// IMPORTS

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

// VARIABLES

// COLORS
$very-dark-blue: hsl(243, 87%, 12%);
$desaturated-blue: hsl(238, 22%, 44%);
$bright-blue: hsl(224, 93%, 58%);
$moderate-cyan: hsl(170, 45%, 43%);
$light-grayish-blue: hsl(240, 75%, 98%);
$light-gray: hsl(0, 0%, 75%);
// FONTS
$font-body: "Open Sans", sans-serif;
$font-special: "Raleway", sans-serif; // Headings, Call-to-actions, Header Navigation

// MIXINS

@mixin btn {
  position: relative;
  border: none;
  border-radius: 2px;
  background-color: $bright-blue;
  color: white;
  font-family: $font-special;
  font-weight: 700;
  cursor: pointer;
  // z-index: -1;

  // &::after {
  //   position: absolute;
  //   content: "";
  //   width: 100%;
  //   height: 100%;
  //   background-color: gold;
  // }

  &:hover {
    background-color: lighten($bright-blue, 10%);
  }
}

// GLOBAL STYLES

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  color: $very-dark-blue;
  font-family: $font-body;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-special;
  font-weight: 700;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
}

// ==================== HEADER

.header {
  padding: 6rem 0;

  &-navbar {
    max-width: 1300px;
    margin: 0 auto 6rem auto;
    display: flex;
    justify-content: space-between;

    &-links {
      a {
        margin: 0 0 0 4rem;
        font-family: $font-special;

        &:hover {
          color: lighten($bright-blue, 10%);
        }
      }
    }
  }
}

// ==================== MAIN

.main {
  background-image: url("../../images/bg-curve-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 68rem;
}

// HERO SECTION

.hero {
  max-width: 1300px;
  margin: 0 auto 32rem;
  display: flex;
  align-items: center;

  &-text {
    flex-basis: 50%;

    h1 {
      margin-bottom: 1.8rem;
      font-size: 4rem;
    }

    p {
      width: 90%;
      margin-bottom: 2.2rem;
      font-size: 1.8rem;
    }

    &-form {
      display: flex;
      gap: 1.4rem;

      [type="email"] {
        flex-basis: 50%;
        border: 1px solid $very-dark-blue;
        border-radius: 2px;
        padding: 1.2rem;
      }

      .btn {
        @include btn;

        padding: 1.2rem 5.6rem;

        // &::after {
        //   position: absolute;
        //   top: 0;
        //   left: 0;
        //   content: "";
        //   width: 100%;
        //   height: 100%;
        //   background-color: gold;
        //   box-shadow: 5px 5px 5px goldenrod;
        // }
      }
    }
  }

  &-image {
    flex-basis: 50%;

    img {
      width: 100%;
    }
  }
}

// PRODUCTIVE SECTION

.productive {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;

  padding: 8rem 0 14rem;
  display: flex;

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    content: "";
    width: 100vw;
    height: 100%;
    background-color: #f8f8fe;
    z-index: -10;
  }

  &-text {
    flex-basis: 55%;
    display: flex;
    flex-direction: column;

    h2 {
      margin-bottom: 1.8rem;
      font-size: 4rem;
    }

    p {
      margin-bottom: 1.8rem;
      width: 80%;
    }

    a {
      display: inline-block;
      width: fit-content;
      margin-bottom: 4.8rem;
      border-bottom: 1px solid $moderate-cyan;
      color: $moderate-cyan;
    }

    &-card {
      width: 36rem;
      box-shadow: 0 0 16px 8px rgba(100, 100, 100, 0.1);
      border-radius: 6px;
      background-color: white;
      padding: 2rem 3rem;

      p {
        margin-bottom: 1.4rem;
        width: 100%;
        font-size: 1.4rem;
        line-height: 1.8;
      }

      &-footer {
        display: flex;
        gap: 1rem;
        align-items: center;

        .thumbnail {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          overflow: hidden;

          img {
            display: block;
            width: 100%;
          }
        }

        h5 {
          font-size: 1.4rem;
        }

        h6 {
          font-size: 1.2rem;
          font-weight: 400;
        }
      }
    }
  }

  &-image {
    flex-basis: 45%;

    img {
      width: 100%;
    }
  }
}

// ACCESS SECTION

.wrap-access {
  background-color: $desaturated-blue;
  color: $light-grayish-blue;
}

.access {
  max-width: 1300px;
  margin: 0 auto;
  padding: 12rem 0;
  display: flex;
  justify-content: space-between;

  &-text {
    flex-basis: 40%;

    h3 {
      margin-bottom: 1.6rem;
      font-size: 3.2rem;
    }
  }

  &-form {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    [type="email"] {
      border: none;
      border-radius: 2px;
      padding: 1.2rem;
    }

    .btn {
      @include btn;

      width: 26rem;
      padding: 1.2rem 2.8rem;
    }
  }
}

// =====================  FOOTER

.wrap-footer {
  background-color: $very-dark-blue;
  color: $light-grayish-blue;
}

.footer {
  max-width: 1300px;
  margin: 0 auto;
  padding: 12rem 0 2rem;

  .logo-footer {
    margin-bottom: 2.8rem;
  }

  &-mid {
    margin-bottom: 8rem;
    display: flex;
    justify-content: space-between;

    &-contact {
      flex-basis: 30%;

      .reach-out {
        margin-bottom: 1.6rem;
        display: flex;
        align-items: center;
        gap: 1.6rem;

        .icon {
          img {
            display: block;
          }
        }
      }
    }

    &-links {
      flex-basis: 30%;

      display: flex;
      justify-content: space-between;

      .left,
      .right {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
      }

      a {
        &:hover {
          color: lighten($bright-blue, 10%);
        }
      }
    }

    &-social {
      flex-basis: 30%;
      display: flex;
      justify-content: center;
      gap: 1.6rem;

      .link-social {
        width: 40px;
        height: 40px;
        border: 1px solid $light-grayish-blue;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          border-color: lighten($bright-blue, 10%);
          color: lighten($bright-blue, 10%);
        }
      }
    }
  }
}

.attribution {
  font-size: 1.1rem;
  text-align: right;
}
.attribution a {
  color: lighten($bright-blue, 20%);

  &:hover {
    color: lighten($bright-blue, 10%);
  }
}
